@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* CSS file or styled-components styles */
.news-item {
  margin-bottom: 20px;
}

.category {
  font-weight: bold;
  color: purple;
}

.bold{
  font-weight: bold;
}

.bold2{
  font-weight: bold;
  color:black;
  font-size: 50px;
  text-decoration: underline;
}

.bold3{
  font-weight: bold;
  color:black;
  font-size: 30px;
}
.bold4{
  /* font-weight: bold; */
  color:black;
  text-decoration: underline;
}

.divider {
  border: 0.1px solid silver;
}
